<header>
    <a href="{{ url_for('index') }}" class="logo">Logo</a>
    <a href="{{ url_for('admin.index') }}" class="button">Dashboard</a>
    <a href="{{ url_for('admin.list_posts') }}" class="button">Posts</a>
    <a href="{{ url_for('admin.create_post') }}" class="button">Create New Post</a>
    <a href="{{ url_for('admin.list_users') }}" class="button">Users</a>
    <a href="{{ url_for('admin.get_create_user') }}" class="button">Create Users</a>
    <a href="{{ url_for('admin.logout') }}"><button>Logout</button></a>
  </header>